:root {
  --not-white: #ededed;
  --sidebar-width: 360px;
}

body {
  background-color: var(--not-white);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page-container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
  width: 100vw;
}

.site-logo {
  color: var(--not-white);
  font-family: 'Ruslan Display', cursive;
  font-size: 1.9rem;
  padding: .5rem 1rem;
  margin-bottom: -.2em;
}

/*
  ::: NAVBAR ( Mobile Only )
*/
.navbar-container {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr auto auto;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 100;
}

.navbar-user {
  padding: .5rem 0rem;
}

.navbar-sandwich {
  padding: .5rem 1rem;
}

.navbar-sandwich-outline:hover {
  background-color: rgba(255,255,255,.1);
  border-color: #effb94;
  cursor: pointer;
}


.navbar-sandwich-outline {
  align-items: center;
  border: 3px solid var(--not-white);
  border-radius: .3rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  height: 3rem;
  justify-content: center;
  padding: 0px .4rem;
  width: 3rem;
  background-color: rgba(0,0,0,.2);
}

.navbar-sandwich-line {
  background-color: var(--not-white);
  height: 3px;
  width: 100%;
  border-radius: 3px;
}

.navbar-sandwich-outline:hover > .navbar-sandwich-line {
  background-color: #effb94;
}
/*
  ::: SIDEBAR ( Desktop Only )
*/
.sidebar-container {
  display: none;
  flex-direction: column;
  height: 100%;
  left: 0px;
  max-width: var(--sidebar-width);
  position: absolute;
  top: 0px;
  width: 30vw;
}

/*
  ::: LINKS FOR BARS
*/
.link-container {
  display: flex;
  flex-direction: column;
  padding: 0px 1rem;
  position: relative;
  outline: none;
}

.link-side {
  row-gap: 1rem;
}

.link-top {
  background-color: #a33;
  border-bottom: 3px solid #dc3545;
  border-left: 3px solid #dc3545;
  padding: 0px;
  position: absolute;
  right: 0px;
  bottom: calc(100% + 2px);
  min-width: 60vw;
  z-index: 10;
  transition: bottom .3s ease;
}

.link-style {
  color: var(--not-white);
  text-decoration: none;
  font-size: 1.5rem;
}

.link-cell-side {
  background-color: #911;
}

.link-cell-top {
  padding: 1rem 0px;
  text-align: center;
}

.link-cell-top:hover {
  background: rgba(255,255,255, .2);
  cursor: pointer;
}

.link-cell-top:hover > .link-style {
  color: #effb94;
  font-weight: 700;
}

/*
  ::: CONTENT
*/
.content-container {
  padding-top: 60px;
  display: flex;
  width: 100%;
}

/*
  ::: FOOTER
*/
.footer-container {
  display: flex;
}

/*
  ::: RESPONSIVE
*/
@media only screen and (min-width: 750px) {
  .site-logo {
    margin: 0px auto;
    padding: .5rem 0px;
  }
  
  .navbar-container {
    display: none;
  }

  .sidebar-container {
    display: flex;
  }

  .content-container {
    padding-top: 0px;
    padding-left: 30vw;
  }
}

@media only screen and (min-width: 1194px) {
  .content-container {
    padding-left: var(--sidebar-width);
  }
}